body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  /* table-layout: fixed; */
}

td:nth-child(odd) {
  width: 65%;
  color: grey;
  text-align: right;
}

td:nth-child(even) {
  text-align: left;
  font-weight: 700;
  color: rgb(54, 168, 151);
}

.card {
  background-color: rgb(37, 37, 37);
  border: 2px solid black;
  width: 300px;
  max-width: 86%;
  display: inline-block;
  margin: 7.5px;
  padding: 10px;
  /* text-align: right; */
}

.sectionHeading {
  text-align: left;
}

/* .globalCard {
  width: 75%;
} */

.cardHeading {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(54, 168, 151);
}

.searchBar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid black;
}

.search {
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}